[Unit]
Description=Make sure repos are up to date

[Service]
User=admin
Group=repomaint
Type=simple
ExecStart=python /mnt/repodata/scripts/repo_mirror.py