[Unit]
Description=Make sure repos are up to date

[Service]
User=admin
Group=repomaint
Type=simple
WorkingDirectory=/mnt/repodata/scripts
ExecStart=python ./repo_mirror.py -r "/mnt/repodata/repos"